{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yatra</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <style>
        .all {
            background-image: url("{% static 'users/WhatsApp Image 2024-04-06 at 11.29.51 AM.jpeg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


</head>

<body>
    <h2>Create your travel plan</h2>
    <form  method="post" action="#">
        {% csrf_token %}
        {{ form | crispy }}
        <label for="id_time"></label>
        <br>
        <button type="submit">Create Travel Plan</button>
    </form>
{% endblock content %}